body{
  font-family: sans-serif;
}
form{
  width: 95%;
  margin: 0 auto;
}
fieldset{
  vertical-align: top;
  display: inline-block;
  width: 32%;
  border: 0.1em solid #d3d3d3;
}
textarea{
  height: 75px;
  width: 100%;
}
